.row#home-page-row
  .col-lg-6#nav-bar-half
    = render 'shared/nav_bar'
  .col-lg-6#picture-half
    = image_tag 'edna_0.jpg', class: "active"
    = image_tag 'edna_1.jpg'
    = image_tag 'edna_2.jpg'

javascript:
  $(document).ready(function(){

    function swapImages(){
      var $active = $('#picture-half .active');
      var $next = ($('#picture-half .active').next().length > 0) ? $('#picture-half .active').next() : $('#picture-half img:first');

      $active.fadeOut(function(){
        $active.removeClass('active');
        $next.fadeIn().addClass('active');
      });
    }

    var swap = setInterval(swapImages, 5000);
  });
