.wrapper
  width: 116px
  height: 116px
  overflow: hidden
  border-radius: 8px
  display: inline-block
  padding: 0px

.wrapper img
  width: 157px

.cart-item
  padding-bottom: 35px
  border-bottom: 1px solid #eee
  // background-color: $item-background

.cart-row
  margin-top: 35px

.cart-header
  margin-top: 30px

.cart-item-prices, .cart-item-total-price
  margin-top: 40px

.update-and-delete
  display: inline-block
  padding-left: 15px

.update-and-delete input
  padding: 0px

#empty-cart-icon
  font-size: 35px
  margin-bottom: 15px

#empty-cart
  padding-top: 180.8px

.checkout-button
  float: right
  background-color: #c1f293 
