nav ul a
  color: black
  font-family: 'Dancing Script', cursive
  font-size: 25px
  text-decoration: none !important

nav ul a:hover
  background-color: transparent
  color: #C8E7AE
  transition: color .3s ease-out

nav
  box-shadow: none

nav li
  margin: 0px 15px
  list-style-type: none

nav ul
  padding-left: 0px 
  display: flex
  justify-content: center

